// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.title{
	font-family: 'DM Sans', sans-serif;
}

.sub-title, .btn{
	font-family: 'Comfortaa', sans-serif;
}

.text{
	font-family: 'Urbanist', sans-serif;
}